#led-matrix {
    display: table;
    border-collapse: collapse;
}

#led-matrix .row {
    display: table-row;
}

#led-matrix .cell {
    display: table-cell;
    border: none;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

#led-matrix .led.selected {
    background-color: red;
    border-radius: 20px;
}

#led-matrix .cell button {
    width: 28px;
    height: 28px;
}

#led-matrix .cell .flex-button-container{
    display: flex;
}

#led-matrix .cell.col-header .flex-button-container{
    flex-direction: row-reverse;
}

#led-matrix .cell.row-header .flex-button-container{
    flex-direction: column;
}

#led-matrix .cell.row-header.col-header .flex-button-container {
    align-items: flex-start;
}

#led-matrix .cell.row-header.col-header .flex-button-container .reset-all{
    align-self: flex-end;
}

#led-matrix .cell.row-header.col-header {
    /*border-bottom: 1px solid transparent;
    /*border-left: 1px solid transparent;*/
}

#led-matrix {
    border: 2px solid black; 
}